n8n_workflow_1_downloader.json
{
  "name": "Google Drive \u2192 Send to Drawing Agent",
  "nodes": [
    {
      "id": "node-gdrive-trigger",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "triggerOn": "specificFolder",
        "event": "fileCreated",
        "triggerOnUpdated": true,
        "driveId": {"__rl": true, "mode": "list", "value": "My Drive"},
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "CHANGE_TO_YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "cachedResultName": "drawing"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CHANGE_TO_YOUR_GDRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "node-download",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [460, 300],
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": {"__rl": true, "mode": "id", "value": "={{ $json.id }}"}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CHANGE_TO_YOUR_GDRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "node-send-agent",
      "name": "Send to Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8765/file",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {"name": "file_id",   "value": "={{ $('Google Drive Trigger').first().json.id }}"},
            {"name": "filename",  "value": "={{ $('Google Drive Trigger').first().json.name }}"},
            {"name": "folder_id", "value": "={{ $('Google Drive Trigger').first().json.parents[0] }}"},
            {"parameterType": "formBinaryData", "name": "file", "inputDataFieldName": "data"}
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {"main": [[{"node": "Download File",  "type": "main", "index": 0}]]},
    "Download File":        {"main": [[{"node": "Send to Agent", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"}
}
